body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #3572b8
  ;
}

.navbar {
  background-color: #435ab6;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
.gal{
  margin: 20px auto;
  max-width: 960px;
}
.gal div img{
  margin: auto;
  width: 1000px;
  height: auto;
}
@media only screen and (min-device-width: 1000px){
 .gal div img{
  margin: auto;
  width: 225px;
  height: auto;
}
}

